#home {
    background-color: #ffc107;
    color: white;
}

.caixa {
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;


}

footer p a {
    margin-bottom: 15px;
}

.borda {
    box-shadow: 7px 10px 18px #ffc107;
}